/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  position: relative;
  display: grid;
  grid-template-rows: 106px auto 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  justify-items: center;
  height: 200vh;
}

/* HEADER */

.header-container {
  position: fixed;
  background-color: lightslategray;
  width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: span 5;
  grid-template: 78.8px 27.2px /128px 1fr 2fr 1fr 128px;
  grid-template-areas:
    "logo-img logo-name . info info"
    ". nav nav nav .";
}

.header-top {
}
.logo-img {
  grid-area: logo-img;
}

.logo-name,
.logo-name h1 {
  grid-area: logo-name;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.7rem;
}
#goodenough {
  color: red;
}

#underground {
  color: blue;
}

.info {
  margin-right: 20px;
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  color: black;
}

#header-phone {
  font-size: 1.3rem;
  margin-top: 5px;
}
#header-liscence {
  font-size: 1.1rem;
  margin-bottom: 8px;
  text-justify: right;
  width: fit-content;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  margin-bottom: 4px;
}

.nav-item:hover {
  color: white;
  border-bottom: 2px solid white;
}

/* MAIN */
.primary-image,
.primary-image img {
  grid-area: 2 / 1 / span 1 / span 5;
  width: 100%;
  height: auto;
  position: relative;
}

#quality-message {
  position: absolute;
  background-color: rgb(255, 0, 0, 0.7);
  bottom: 20px;
  left: 8px;
  font-size: 1.1rem;
  padding: 7px;
  font-weight: 500;
}

main {
  grid-area: 3 / 3 / span 1 / span 1;
}
